@import "tailwindcss";



body{
    font-family:  Arial, sans-serif;
    background-color: #151515;
}

h2{
    color: #f3f3f3;
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1024px;
}

.card{
  border: 2px solid red;
  padding: 20px;
  margin:10px;
  border-radius: 10px;
  min-height: 100px;
  background-color: #31363f;
  

}